<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Sample XML Editor"
            extensions="xml"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="doug.antlng.hello.ui.editors.xml.XMLEditor"
            id="doug.antlng.hello.ui.editors.xml.XMLEditor">
      </editor>
      <editor
            class="doug.antlng.hello.ui.editors.hello.HelloEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="false"
            extensions="hello"
            icon="icons/sample.gif"
            id="doug.antlng.hello.ui.editor"
            name="Hello Editor">
      </editor>
   </extension>

</plugin>
