<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Lang Test Editor"
            extensions="langtest"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="doug.lang.ui.editors.TestEditor"
            id="doug.lang.editors.TestEditor">
      </editor>
   </extension>

</plugin>
